.video-chat-div {
  margin-top: 60px;
}

.new-matches {
  margin-top: 3px;
  margin-right: -15px; 
}

.new-messages {
  margin-top: 3px;
  margin-right: -15px; 
}

.new-chat {
  margin-top: 3px;
  margin-right: -15px; 
}

.map {
  z-index: 12;
}